.Time {
  display: flex;
  flex-direction: row;
}

.Time .TimeHeader {
  display: flex;
  flex-direction: column;
  text-align: right;

  width: 70px;
}

.Time .TimeHeader > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}


.Time .TimeHeader .TimeTitleContainer {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  /**margin-top: -10px;**/
}

.Time .TimeHeader .TimeTitle {
  color: #4C4E51;
  font-size: 14px;
}

.Time .TimeHeader .TimeTitleContainer .TimeMeridiem {
  color: #AEAEAE;
  font-size: 10px;
  padding: 0px 5px;
}


.Time .TimeHeader .TimeHalfTime {
  color: #AEAEAE;
  font-size: 10px;
  padding: 0px 5px;

  /** **/
  margin-top: -15px;
}

.Time .TimeHeader .Time {
  color: #AEAEAE;
  font-size: 10px;
  padding: 0px 5px;
}

.Time .TimeContent {
  border: 1px solid #eee;
  width: 100%;
}
