.Calendar {
  display: flex;
  flex-direction: column;
  height: 720px;
  padding: 0px 10px;
  position: relative;
  width: 620px;
}

.Calendar > .Time {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
