.Event {
  background: RGBA(244, 243, 244, 0.5);
  border-left: 4px solid #3EA982;
  padding: 5px;
  position: absolute;
}

.EventTitle {
  color: #3EA982;
  font-size: 14px;
}

.EventSubTitle {
  color: #BFBFBF;
  font-size: 10px;
  margin: 0px;
}
